<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UsageFileName" value="Usage.xls"/>
    <add key="TaxPercentage" value="10"/>
    <add key="HostedURL" value="http://localhost:53493/Web"/>
    
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>